html {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  text-align: right;
  min-height: 120px;
}

header img { float:left }

#logo {
  width: 100px;
}

header nav .link:hover {
  background: skyblue;
}

header nav {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  float: right;
  display: flex;
}
header nav .link {
  background-color: #007aff;
  padding: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: arial;
  border-right: 2px solid black;
}

header nav .link:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

header nav .link:last-child {
  border-right: none; 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

header nav .boton:last-child {
  border-right: 0px;
}

header nav.boton:hover {
  background-color: #eaff00;
}

header nav.boton {
  padding: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 10px solid black;
}
section {
  text-align: center;
}

section img {
  width: 50%;
}

section p {
  text-align:justify;
}

section p span {
  font-size: 24px;
  font-weight: bold;
}

.calcetas {
  display: flex;
  justify-content: space-between
}
.calcetas img:first-child {
  width: 400px;
}
.calcetas img:last-child {
  width: 350px;
}

/* CCS phones */ 
@media only screen and (max-width: 600px) {
  body {
   background-color: green;
  } 
  .calcetas {
    flex-direction: column;
    align-items: center;
  }
  
  header img {
    float: none;
    margin-top: 20px;
  }
  
  header nav {
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section img {
    width: 90%;
  }

  section p {
    font-size: 14px;
  }
}

/* CSS tablets */ 
@media only screen and (min-width: 600px) {
  body {
   background-color: pink;
  } 
}

/* CSS laptops */  
@media only screen and (min-width: 992px) {
  body {
   background-color: skyblue;
  } 
}
